<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Schedular</title>
  <link rel="stylesheet" href="./css/main/output.css">
</head>
<body>
  <%- include('header', {route: "", content:"sign out"}) %>
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-span-10">
      <%- include('listSessions', {title: "Created By You", data:allSessions}) %><hr class="my-4">
      <%- include('listSessions', {title: "Other Sessions", data:allSessions}) %><hr class="my-4">
      <%- include('listSessions', {title: "Joined Sessions", data:allSessions}) %>

      <a href="/createSession" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Create Session</a>
    </div>
  </div>
</body>
</html>