<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Schedular</title>
  <link rel="stylesheet" href="./css/main/output.css">
</head>
<body>
  <%- include('header', {route: "", content:"sign out"}) %>
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-span-10">
      <div class="flex items-center">
        <a href="/" class="mr-2">Home</a>
        <span class="mr-2">></span>
        <!-- <a href="/sport" class="mr-2">Sport</a>
        <span class="mr-2">></span>
        <a href="/sport/session">Session</a> -->
      </div>
      <div class="flex flex-wrap">
        <% for( let i = 0; i < listSports.length; i++ ) { %>
          <div class="p-2">
            <a href="/sportSession/<%= listSports[i].id %>" class="block bg-gray-200 rounded-lg p-4">
              <h3 class="text-lg font-semibold"><%= listSports[i].sportName %></h3>
            </a>
          </div>
        <% } %>
      </div>
      <a href="/createSport" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Create Sport</a>
    </div>
  </div>
</body>
</html>