<h3><%= title %></h3>
<% for( let i = 0; i < data.length; i++ ) { %>
  <a href="/details/<%= data[i].id %>">
    <div class="flex">
      <%= data[i].time %>
      <p class="text-right ml-10">
        <%= ( data[i].noOfPlayers - data[i].players.length )%> slots available
      </p> 
    </div>
  </a>
<% } %>
<hr>